:root{
    --back-color: rgb(0, 170, 255);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100% ;
    height: 100vh;
    background-color: #020202a5;
    z-index: 100;
}

.popup .content-inside > button{
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: inherit;
    border: none;
    color: red;
    font-size: 25px;
}
.popup .content-inside{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 60%;
    background-color: #fefefe;
    margin: 10vh auto;
    height: 80vh;
    border-radius: 8px;
    border: 2px solid rgb(0, 170, 255);
    position: relative;
}

.popup .content-inside .head-add-content > h3, 
.popup .content-inside div > button{
    display: block;
    margin: 0 auto;
    text-align: center;
}
.popup .content-inside > div{
    width: 60%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.popup .content-inside .two-colum{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;
}
.popup .content-inside .two-colum .right-content{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.popup .content-inside .two-colum .right-content >div,
.popup .content-inside .two-colum .left-content >div{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}
.popup .content-inside .two-colum .left-content{
    width: 50%;
}
.popup .content-inside .two-colum .right-content > div > label,
.popup .content-inside .two-colum .left-content > div > label,
.popup .content-inside > div > label{
    font-weight: bold;
    color: rgb(0, 72, 117);
}
.popup .content-inside .two-colum .right-content > div > input,
.popup .content-inside .two-colum .left-content > div > input,
.popup .content-inside > div > input,
.popup .content-inside > div > select{
    width: 70%;
    color: rgb(0, 72, 117);
    border-radius: 5px;
    font-size: 18px;
    padding: 4px;
    border: 1px solid rgba(0, 72, 117, 0.343);
}
.popup .content-inside .two-colum .right-content > div > input,
.popup .content-inside .two-colum .left-content > div > input{
    width: 80%;
    text-align: center;
}
.popup .content-inside > div > input:focus,
.popup .content-inside .two-colum .right-content > div > input:focus,
.popup .content-inside .two-colum .left-content > div > input:focus{
    border: 1px solid rgba(0, 72, 117);
    outline: none;
}



/* seats choose in the user content pages  */
